<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/dataTrimmer.js"></script>
    <script src="../static/js/musicDataParser.js"></script>

    <script>
      $(document).ready(function () {
        getplaylist();
      });

      /* Auth */
      const logout = () => {
        $.ajax({
          type: 'GET',
          url: '/logout',
          data: {},
          success: function (response) {
            alert(response['message']);
            window.location.href = '/';
          },
        });
      };

      /* Playlist */
      const getplaylist = () => {
        $('.temp').empty();
        $.ajax({
          type: 'GET',
          url: '/playlist',
          data: {},
          success: function (response) {
            const { playlistData } = response;
            for (let i of playlistData) {
              const list = createListComponent(i);
              $('.user-playlist').append(list);
            }
          },
        });
      };

      const getMusic = () => {
        const query = $('.searchInput').val();
        $.ajax({
          type: 'GET',
          url: '/search',
          data: { query: query },
          success: function (response) {
            clearSearchList();
            const { data: HTMLData } = response;
            const musicDatas = musicDataParser(HTMLData);
            for (let i of musicDatas) {
              const musicComponent = createMusicComponent(i);
              $('.search_result-container').append(musicComponent);
            }
          },
        });
      };

      const addMusic = (props) => {
        const [id, thumbnail, title, owner, duration] = props.split('|?|');
        const musicData = {
          id: id,
          thumbnail: thumbnail,
          title: title,
          owner: owner,
          duration: duration,
        };

        $.ajax({
          type: 'POST',
          url: '/playlist',
          data: {
            id: id,
            thumbnail: thumbnail,
            title: title,
            owner: owner,
            duration: duration,
          },
          success: function (response) {
            const { playlistData } = response;

            for (let i of playlistData) {
              const list = createListComponent(i);
              $('.user-playlist').append(list);
            }
          },
        });
      };

      const deleteMusic = (id) => {
        $.ajax({
          type: 'PUT',
          url: '/playlist',
          data: { id: id },
          success: function (response) {
            /*
            const { playlistData } = response;
            for (let i of playlistData) {
              const list = createListComponent(i);
              $('.user-playlist').append(list);
            }
            */
          },
        });
      };

      const changeMusic = (id) => {
        const newVideo = createVideo(id);
        clearVideo();
        addVideo(newVideo);
      };

      const createVideo = (id) => {
        return `
                <iframe width='500px' height='350px' autoplay loop src='https://www.youtube.com/embed/${id}?autoplay=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen></iframe>
            `;
      };

      const createListComponent = (props) => {
        const { title, thumbnail, duration, musicId: id, owner } = props;

        return `
          <div class="list-main-container">
            <div class='list-card' onclick="changeMusic('${id}')">
              <img src='${thumbnail}' class='list-img' id="${id}"/>
              <div class='list-info'>
                <div class='list-title'>${title}</div>
                <div class="list-bottom-info">
                  <div class="info-owner">${owner}</div>
                  <div class="info-duration">${duration}</div>
                </div>
              </div>
            </div>
            <div onclick="deleteMusic('${id}')" class="list-delete">
                <svg width="25" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
          </div>
        `;
      };

      const createMusicComponent = (musicData) => {
        const { thumbnail, channelUrl, duration, id, owner } = musicData;
        let { title } = musicData;
        title = title
          .replaceAll("'", '')
          .replaceAll('"', '')
          .replaceAll('`', '');

        return `
            <div class='music-card' onclick="addMusic('${id}|?|${thumbnail}|?|${title}|?|${owner}|?|${duration}')">
              <img src='${thumbnail}' class='music-img'/>
              <div class='music-info'>
                <div class='music-title'>${title}</div>
              </div>
            </div>
        `;
      };

      const clearSearchList = () => {
        $('.search_result-container').empty();
      };

      const clearPlayList = () => {
        $('.user-playlist').empty();
      };

      const clearVideo = () => {
        $('.video-container').empty();
      };

      const addVideo = (videoComponent) => {
        $('.video-container').append(videoComponent);
      };
    </script>
  </head>
  <body>
    <div class="main-container">
      <div class="left-content">
        <div class="video-container">
          <iframe
            width="500px"
            height="350px"
            src="https://www.youtube.com/embed/w9JE8b-84UI"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="user-playlist"></div>
      </div>
      <div class="right-content">
        <div class="nav-bar">
          <div class="logout-btn" onclick="logout()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 searchBtn"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
              />
            </svg>
          </div>
          <div class="search-container">
            <input
              class="searchInput"
              placeholder="Search To play"
              type="text"
            />
            <svg
              onclick="getMusic()"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 searchBtn"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </div>
        </div>
        <div class="search_result-container"></div>
      </div>
    </div>
  </body>
</html>
