<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/dataTrimmer.js"></script>
    <script src="../static/js/musicDataParser.js"></script>

    <script>
      const logout = () => {

      }
      const getplaylist = () => {
        $('.temp').empty();
        $.ajax({
          type: 'GET',
          url: '/playlist',
          data: {},
          success: function (response) {
            for (let i of response) {
              const { thumbnail, channelUrl, duration, id, owner } = musicData;
              const component = `${title}`;
              $('.user-playlist').append(component);
            }
          },
        });
      };

      const getMusic = () => {
        const query = $('.searchInput').val();
        $.ajax({
          type: 'GET',
          url: '/search',
          data: { query: query },
          success: function (response) {
            clearList();
            const { data: HTMLData } = response;
            const musicDatas = musicDataParser(HTMLData);
            for (let i of musicDatas) {
              const musicComponent = createMusicComponent(i);
              $('.search_result-container').append(musicComponent);
            }
          },
        });
      };

      const addMusic = (props) => {
        const [id, thumbnail, title, owner, duration] = props.split('|?|');
        const musicData = {
          id: id,
          thumbnail: thumbnail,
          title: title,
          owner: owner,
          duration: duration,
        };

        $.ajax({
          type: 'POST',
          url: '/playlist',
          data: { 'id': id, 'thumbnail': thumbnail, 'title': title, 'owner': owner, 'duration': duration },
          success: function (response) {
            const list = response['msg']
            console.log(list)
            /*
            1. res에서 BE가 던져준 새 플리 변수 저장.
            2. 플리 비우기
            3. 새로 
            */
          },
        });
      };

      const createMusicComponent = (musicData) => {
        const { thumbnail, channelUrl, duration, id, owner } = musicData;
        let { title } = musicData;
        title = title
          .replaceAll("'", '')
          .replaceAll('"', '')
          .replaceAll('`', '');

        return `
            <div class='music-card' onclick="addMusic('${id}|?|${thumbnail}|?|${title}|?|${owner}|?|${duration}')">
              <img src='${thumbnail}' class='music-img'/>
              <div class='music-info'>
                <div class='music-title'>${title}</div>
              </div>
            </div>
        `;
      };

      const createVideo = (id) => {
        return `
                <iframe width='500px' height='350px' autoplay loop src='https://www.youtube.com/embed/${id}' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen></iframe>
            `;
      };

      const clearList = () => {
        $('.search_result-container').empty();
      };
    </script>
  </head>
  <body>
    <div class="main-container">
      <div class="left-content">
        <iframe
          width="500px"
          height="350px"
          src="https://www.youtube.com/embed/w9JE8b-84UI"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <div class="user-playlist"></div>
      </div>
      <div class="right-content">
        <div class="search-container">
          <input class="searchInput" placeholder="Search To play" type="text" />
          <svg
            onclick="getMusic()"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 searchBtn"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
          <button onclick="logout()">logout</button>
        </div>
        <div class="search_result-container"></div>
      </div>
    </div>
  </body>
</html>
